@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    margin: 1rem 0;
    flex-basis: calc(30% - 1rem);
}

label {
    display: flex;
    justify-content: center;
    /* margin-bottom: 0.5rem; */
}

input[type="text"] {
    /* width: 100%; */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #3f51b5;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results {
    color: rgb(255, 94, 0);
    font-weight: bold;
    padding-top: 1rem;
}


/* ... Other CSS rules ... */

#gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 2rem;
}

#gameboard-container .cell {
    width: 150px;
    height: 150px;
    border: none;
}

/* Adding vertical borders */
#gameboard-container .cell:nth-child(1),
#gameboard-container .cell:nth-child(2),
#gameboard-container .cell:nth-child(4),
#gameboard-container .cell:nth-child(5),
#gameboard-container .cell:nth-child(7),
#gameboard-container .cell:nth-child(8) {
    border-right: 2px solid black;
}

/* Adding horizontal borders */
#gameboard-container .cell:nth-child(1),
#gameboard-container .cell:nth-child(2),
#gameboard-container .cell:nth-child(3),
#gameboard-container .cell:nth-child(4),
#gameboard-container .cell:nth-child(5),
#gameboard-container .cell:nth-child(6) {
    border-bottom: 2px solid black;
}